#root {
  width: 100%;
  max-width: none;
  margin: 0;
  padding: 0;
}

/* Navbar.jsx */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 15px 30px;
}
.navbar a {
  color: rgba(0, 0, 0, 0.87);
  font-family: Syne, system-ui, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-size: 1.4rem;
  font-weight: 500;
  text-decoration: none;
  transition: color 0.25s, filter .25s;
}
.navbar a:hover {
  color: #ffffff;
  filter: drop-shadow(0 0 0.1em #3a3548)
}

.nav-links {
  width: 30%;
  display: flex;
  justify-content: space-between;
}
/* Navbar.jsx */

/* AboutMe.jsx */
.aboutme-container {
  margin: 100px 0;
  display: flex;
  place-content: center;
  gap: 100px;
}
.aboutme-container .title-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.aboutme-container .title-section .name, .title {
  margin: 0; 
  font-family: Syne, system-ui, Inter, Avenir, Helvetica, Arial, sans-serif;
  font-weight: 600;
}
.aboutme-container .title-section .name {
  font-size: 1.6rem;
}
.aboutme-container .title-section .title {
  font-size: 4rem;
}
.aboutme-container .title-section .script {
  font-family: 'Petit Formal Script', Syne, system-ui, Inter, Avenir, Helvetica, Arial, sans-serif;
}

.headshot-section img {
  width: 18rem;
  border-radius: 15%;
}
/* AboutMe.jsx */

/* Media Queries */
/* Extra large devices (large laptops and desktops, 1200px and down) */
@media only screen and (max-width: 1200px) {
  /* Navbar.jsx */
  .nav-links {
    width: 35%;
  }
  /* Navbar.jsx */
}

/* Large devices (laptops/desktops, 992px and down) */
@media only screen and (max-width: 992px) {
  /* Navbar.jsx */
  .nav-links {
    width: 45%;
  }
  /* Navbar.jsx */

  /* AboutMe.jsx */
  .aboutme-container {
    gap: 50px;
  }

  .aboutme-container .title-section .name {
    font-size: 1.3rem;
  }
  .aboutme-container .title-section .title {
    font-size: 3.5rem;
  }
  
  .headshot-section img {
    width: 15rem;
  }
  /* AboutMe.jsx */
}

/* Medium devices (landscape tablets, 768px and down) */
@media only screen and (max-width: 768px) {
  /* Navbar.jsx */
  .nav-links {
    width: 55%;
  }
  /* Navbar.jsx */

  /* AboutMe.jsx */
  .aboutme-container .title-section .name {
    font-size: 1rem;
  }
  .aboutme-container .title-section .title {
    font-size: 2.5rem;
  }
  
  .headshot-section img {
    width: 12rem;
  }
  /* AboutMe.jsx */
}

/* Small devices (phones, portrait tablets and large phones, 550px and down) */
@media only screen and (max-width: 550px) {
  /* Navbar.jsx */
  .navbar a {
    font-size: 1.1rem;
  }
  
  .nav-links {
    width: 65%;
  }
  /* Navbar.jsx */

  /* AboutMe.jsx */
  .aboutme-container {
    margin: 50px 0;
    gap: 30px;
  }
  
  .aboutme-container .title-section .name {
    font-size: .8rem;
  }
  .aboutme-container .title-section .title {
    font-size: 1.9rem;
  }
  
  .headshot-section img {
    width: 8rem;
  }
  /* AboutMe.jsx */
}

/* Extra small devices (phones, 400px and down) */
@media only screen and (max-width: 400px) {
  /* Navbar.jsx */
  .navbar a {
    font-size: 0.85rem;
  }
  
  .nav-links {
    width: 70%;
  }
  /* Navbar.jsx */

  /* AboutMe.jsx */
  .aboutme-container .title-section .name {
    font-size: .6rem;
  }
  .aboutme-container .title-section .title {
    font-size: 1.5rem;
  }
  
  .headshot-section img {
    width: 5.5rem;
  }
  /* AboutMe.jsx */
}
